body{
	background-color:#F8F8FF;
	font-family: 'Oxygen', sans-serif;
	color: black;
    font-size: 16px;
}

#header-nav{
	background-color:#F8F8FF;
	border-radius: 0;
	border-radius: 0;
	border: 0;
	height: 130px;
}

#logo-img{
	background: url('../img/logo-nubi-art-sm.png') no-repeat;
	width: 150px;
	height: 120px;
	margin: 10px 15px 10px 0;
	border: 1px solid black;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Dancing Script', cursive;
	color:#282220 ;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #C8ABA3 ;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}

.navbar-brand a{
text-decoration: none;
}

.navbar-brand p{
	color:#2A2524; 
	font-size: .9em;
	margin-top: 10px;
	vertical-align: middle;
}

.icon-bar{
	margin-bottom: 10px;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a {
	color : #2A2524;
	text-align: center;
}

#nav-list a:hover{
	background:white;
	text-shadow: whitesmoke;
}

#nav-list a span{
	font-size: 1em;
}

#phone{
	color :white;
	text-align: right;
	padding-right:15px; 
}

.nav-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #524a48;
	margin-top: 10px; 
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

#main-content{
    background: url('../img/chevalet-1600.jpg') no-repeat;
    position: relative;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 10px 40px 10px;
    margin-bottom: 40px;
}

#page-title{
    font-family: 'Dancing Script', cursive;
	color:#282220 ;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #C8ABA3 ;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1;
}

#citation1{
    font-style: italic;
    font-size: 1em;
    margin-bottom: 40px;
    line-height: 2;
}

.présentation{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}


.button{
    display: inline;
    margin-left: 45%;
    font-size: 1em;
    text-transform: uppercase;
    background-color: wheat;
    padding: 10px;
    border: 1px solid wheat;
    border-radius: 10px;
    opacity: 1;
}

.button a{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-shadow: 3px 3px 8px black;
}

.button:hover{
	box-shadow:0 1px 5px 1px #424242;
}

.panel-footer{
	margin-top: 30px;
	padding-top: 25px;
	padding-bottom: 30px;
	background-color: black;
	border-top: 0;
	opacity: .8;
	color: white;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#mail, #contact, #social{
	text-align: center;
	line-height: 1.5;
}

#mail > span, #contact > span, #social > span{
	text-decoration-line: underline;
	font-size: 1.2em;
}

#mail a, #contact a, #social a{
	text-decoration: none;
	color: white;
}

#citation{
	text-align: center;
	font-style: italic;
	padding-right: 15px;
}

#citation p{
	font-size: 15px;
	line-height: 1;
}

#citation p:nth-child(2){
margin-top: 15px;
}

@media(min-width: 1200px) {
	#main-content{
		background: url('../img/chevalet-1600.jpg') no-repeat;
		background-size: 100% 100%;
        padding-bottom: 30px;
        margin-bottom: 20px;
		
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	#main-content{
		background: url('../img/chevalet-992.jpg') no-repeat;
		background-size: 100% 100%;
        padding-bottom: 30px;
        margin-bottom: 20px;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	#main-content{
		background: url('../img/chevalet-768.jpg') no-repeat;
		background-size: 100% 100%;
        padding-bottom: 30px;
        margin-bottom: 20px;
	}
}

@media(min-width: 1200px) {
	.button{
        display: inline;
        margin-left: 45%;
        font-size: 1em;
        text-transform: uppercase;
        background-color: wheat;
        padding: 10px;
        border: 1px solid wheat;
        border-radius: 10px;
        opacity: 1;
    }
    
}
@media(min-width: 992px) and (max-width: 1199px){ 
	.button{
        display: inline;
        margin-left: 45%;
        font-size: 1em;
        text-transform: uppercase;
        background-color: wheat;
        padding: 10px;
        border: 1px solid wheat;
        border-radius: 10px;
        opacity: 1;
    }
}
@media(min-width: 768px) and (max-width: 991px){
	.button{
        display: inline;
        margin-left: 45%;
        padding-left: 30%;
        font-size: 1em;
        text-transform: uppercase;
        background-color: wheat;
        padding: 10px;
        border: 1px solid wheat;
        border-radius: 10px;
        opacity: 1;
    }
}

@media(max-width: 767px){
	.button{
        display: inline;
        margin-left: 35%;
        padding-left: 30%;
        font-size: 1em;
        text-transform: uppercase;
        background-color: wheat;
        padding: 10px;
        border: 1px solid wheat;
        border-radius: 10px;
        opacity: 1;
    }
}


