body{
	background-color: #F8F8FF;
	font-family: 'Oxygen', sans-serif;
	color: black;
	font-size: 16px;
}

#header-nav{
	background-color:#F8F8FF;
	border-radius: 0;
	border-radius: 0;
	border: 0;
	height: 130px;
}

#logo-img{
	background: url('../img/img-index/logo-nubi-art-sm.png') no-repeat;
	width: 150px;
	height: 120px;
	margin: 10px 15px 10px 0;
	border: 1px solid black;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Dancing Script', cursive;
	color:#282220 ;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #C8ABA3 ;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}

.navbar-brand a{
text-decoration: none;
}

.navbar-brand p{
	color:#2A2524; 
	font-size: .9em;
	margin-top: 10px;
	vertical-align: middle;
}

.icon-bar{
	margin-bottom: 10px;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a {
	color : #2A2524;
	text-align: center;
}

#nav-list a:hover{
	background:white;
	text-shadow: whitesmoke;
}

#nav-list a span{
	font-size: 1em;
}

#phone{
	color :white;
	text-align: right;
	padding-right:15px; 
}

.nav-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #524a48;
	margin-top: 10px; 
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

.panel-footer{
	margin-top: 30px;
	padding-top: 25pxpx;
	padding-bottom: 30px;
	background-color: black;
	border-top: 0;
	opacity: .8;
	color: white;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#mail, #contact, #social{
	text-align: center;
	line-height: 1.5;
}

#mail > span, #contact > span, #social > span{
	text-decoration-line: underline;
	font-size: 1.2em;
}


#mail a, #contact a, #social a{
	text-decoration: none;
	color: white;
}

#citation{
	text-align: center;
	font-style: italic;
	padding-right: 30px;
}

#citation p{
	font-size: 15px;
	line-height: 1;
}

#citation p:nth-child(2){
margin-top: 15px;
}

#main-content{
	margin-top: 15px;
}

.container .jumbotron{
	margin-top: 15px;
	box-shadow: 0 0 50px #A09B9B;
	border: 2px solid #A09B9B;
}

#nouveautés-tile, #galerie-tile, #découvrir-tile{
height: 300px;
width: 100%;
margin-bottom: 15px;
position: relative;
border: 2px solid #3F0C1F;
overflow: hidden;
}

#nouveautés-tile:hover, #galerie-tile:hover, #découvrir-tile:hover{
	box-shadow: 0 1px 5px 1px #424242;
}

#nouveautés-tile{
	background: url('../img/img-index/actualité.jpg') no-repeat;
	background-position: center;
}

#galerie-tile{
	background: url('../img/img-index/galerie_art.jpg') no-repeat;
	background-position: center;
}

#découvrir-tile{
	background: url('../img/img-index/decouverte.jpg') no-repeat;
	background-position: center;
}

#nouveautés-tile span, #galerie-tile span, #découvrir-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform:capitalize;
	background-color: black;
	color: white;
	opacity: .7;
}

@media(min-width: 1200px) {
	.container .jumbotron{
		background: url('../img/img-index/femme-aux-fleur-1200.jpg') no-repeat;
		height: 675px;
		
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	.container .jumbotron{
		background: url('../img/img-index/femme-aux-fleur-992.jpg') no-repeat;
		height: 558px;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.container .jumbotron{
		background: url('../img/img-index/femme-aux-fleur-768.jpg') no-repeat;
		height: 432px;
	}
}

