/*General*/

:root{
	--title-font : 'Dancing Script', cursive;
	--background-color : rgba(0,0,0,0.18);
}

*{
	padding: 0;
	margin: 0;
}

*, 
::before,
::after{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
}


h1,
h2
{
	line-height: 1.2;
	font-weight: 900;
	margin-bottom: 15px;
}

p{
	margin-bottom: 20px;
}

.text-center{
	text-align: center;
}


section{
	padding: 30px 10px;
}


.container{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	overflow: hidden;
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


ul{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
	text-transform: capitalize;
}

/*nav*/
.navbar{
	background-color: #fff;
	color: #333;
	margin-top: 15px 10px 15px 10px;
}

.navbar .logo{
	font-size: 60px;
	margin-top: 20px;
	font-family: var(--title-font);
}

.navbar ul {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.navbar a {
	color: #333;
	font-size: 20px;
	padding: 15px;
	margin: 0 15px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}

.logo a:hover{
	cursor: pointer;
}

.navbar li:hover{
	border-bottom: 1px solid black;
}

.navbar .flex{
	justify-content: space-between;
}

@media(max-width : 900px){
.navbar .logo{
	font-size: 35px;
	margin-top: 20px;
	text-align: left;
	font-family: var(--title-font);
}

.navbar ul{
	display: none;
}
}

/*main-profil*/

.card{
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border: 5px solid rgba(75, 73, 73, 0.2);
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 60px;
	padding: 30px 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap : 50px;
}

.profile-sidebar img{
	width: 220px;
	border-radius: 50%;
	border : 5px solid rgba(44, 43, 43, 0.123);
}

.profile-name{
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 30px;
}

.profile-name::after{
	content: " ";
	display: block;
	height: 3px;
	width: 225px;
	background: rgba(0, 0, 0, 0.2);
	margin: 5px;
	opacity: 0.5;
}

.profile-body{
	line-height: 1.6;
	font-size: 20px;
	font-weight: 500;
	margin: 0 30px;
}

.social-link i{
	font-size: 30px;
	color: blue;
	margin: 0 10px;
	transition: transform 1s ease-in;
}

.social-link i:hover{
	transform: scale(0.8);
}

@media (max-width: 900px) {
	.card{
		display: flex;
		flex-direction: column;
		gap : 30px;
	}

	.profile-sidebar img{
		max-width:  100%;
		border-radius: 50%;
		border : 5px solid rgba(44, 43, 43, 0.123);
	}

	.profile-name{
		font-size: 15px;
		font-weight: 900;
		margin-bottom: 25px;
		text-align: center;
	}

	.profile-body{
		line-height: 1.6;
		font-size: 15px;
		font-weight: 500;
		margin-bottom: 0;
	}

	.profile-name::after{
		content: " ";
		display: block;
		height: 3px;
		width: 100px;
		background: rgba(0, 0, 0, 0.2);
		margin: 0 auto;
		margin-top: 15px;
		opacity: 0.5;
	}
	
}

/*Paintings*/
.card-paintings{
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px 30px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap : 15px;
	text-align: center;
}

.card-title{
	font-weight: 900;
	font-size: 25px;
	margin: 35px;
}

.card-title::after{
	content: " ";
	display: block;
	height: 5px;
	width: 350px;
	background: rgba(0, 0, 0, 0.2);
	margin: 5px;
	opacity: 0.5;
}

.card-paintings img{
	width: 400px;
	margin: 10px;
	border: 3px solid black;
	transition: transform 1.5s ease-in;
}

.paintings-link{
	color: rgba(22, 21, 21, 0.9);
	font-size: 18px;
}

.card-paintings img:hover{
	transform: scale(0.9);
}

.paintings-link h3:hover{
	transition: transform 1.5s ease-in;
}

.paintings-link h3:hover{
	transform: scale(0.9);
	color: rgb(139, 139, 206);
}

@media (max-width: 900px) {
	.card-paintings{
		margin: 0 auto;
		margin-top: 20px;
		padding: 30px 30px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap : 15px;
		text-align: center;
	}
	
.card-title{
	font-size: 13px;
	margin: 25px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.6;
	letter-spacing: 2px;
}

.card-title::after{
	content: " ";
	display: block;
	height: 5px;
	width: 150px;
	margin: 0 auto;
	margin-top: 10px;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0.5;
}

.card-paintings img{
	width: 200px;
	margin: 10px;
	border: 3px solid black;
	transition: transform 1.5s ease-in;
}

.paintings-link{
	color: rgba(22, 21, 21, 0.9);
	font-size: 15px;
}
}

/*footer*/

.footer{
	background: var(--background-color);
	color: #333;
	text-align: left;
	margin-top: 0;
	padding: 15px;
}

.footer h2{
	font-family: var(--title-font);
	font-weight: 900;
	font-size: 30px;
}

.footer .footer-p{
	font-size: 15px;
}

.menu-list a{
	color: #333;
	transition: color 1000ms ease;

}

.menu-list a:hover{
	color: #fff;

}

.footer i{
     font-size: 40px;
	 color:rgb(96, 96, 228);
}

.footer i:hover {
	transform: scale(0.9);
}


@media(max-width : 900px){

	.flex{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	

	.footer{
		background: var(--background-color);
		color: #333;
		text-align: center;
		margin-top: 0;
		padding: 15px;
	}

	
	.footer .footer-title{
		font-family: var(--title-font);
		font-weight: 900;
		font-size: 30px;
	}

	.footer .footer-p{
		font-size: 10px;
	}

	.menu-list a{
		color: #333;
		transition: color 1000ms ease;

	}

	.menu-list a:hover{
		color: #fff;

	}

	.footer i{
		margin: 20px 0;
		color: rgb(96, 96, 228);
	}

	.footer i:hover {
		transform: scale(0.9);
	}	

}