/*General*/

:root{
	--title-font : 'Dancing Script', cursive;
}

*{
	padding: 0;
	margin: 0;
}

*, 
::before,
::after{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6;
}


h1,
h2
{
	line-height: 1.2;
	font-weight: 900;
	margin-bottom: 1em;
}

p{
	margin-bottom: 1em;
}

.text-center{
	text-align: center;
}

section{
	padding: 2rem 0;
}


.container{
	margin: 0 auto;
	padding: 0 40px;
	overflow: hidden;
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.grid-1 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	gap : 15px;

}


ul{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
	text-transform: capitalize;
}

/*nav*/
.navbar{
	background-color: #fff;
	color: #333;
	margin-top: 1rem;
	margin-bottom: 1rem;

}


.navbar ul {
	display: flex;
	margin-top: 5px;
}

.navbar a {
	color: #333;
	padding: 0.5em;
	margin: 0 0.3em;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}

.logo a:hover{
	cursor: pointer;
}

.navbar li:hover{
	border-bottom: 1px solid black;
}

.navbar .flex{
	justify-content: space-between;
}

.navbar h1{
	font-size: 2.5em;
	margin-top: 20px;
	font-family: var(--title-font);
}

.navbar a{
	font-size: 1.2em;
}

/*Showcase*/

.showcase{
	display: block;
	margin-top: 1rem;
	margin-bottom: 5rem;
	background-image: url('../img/img-index/peinture-africain.jpg');
	padding: 3em;	
	color:#fff;
	border: 3px solid black;
}

.showcase h1{
	font-size: 2.5em;
	font-weight: 900;
}

.showcase p{
	font-size: 1.5em;
}


/*image*/

.image_grid img{
	max-width: 100%;
}

/*button*/

.button{
	margin-top: 20px;
	margin-bottom: 100px;
}

.btn{
	font-size: 3em;
	font-weight: 900;
	padding: 40px;
	box-shadow: 8px 5px 5px hsl(24, 1%, 50%);
	background-color: hsl(34, 100%, 50%);
	border-radius: 40%;
	margin-bottom: 30px;
}

.button{
	animation: slideFromLeft 3500ms ease-in;
}

@keyframes slideFromLeft{
     0% { 
		 transform : translateX(-100%);
	    }

	100%{
		transform: translateX(0);

	}
}

/*footer*/

.footer{
	background: hsl(0, 0%, 50%);
	color: #fff;
	text-align: left;
	margin-top: 30px;
	padding: 15px;
}

.footer h2{
	font-family: var(--title-font);
}
